*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}
h1{
  color: aliceblue;
} 
form {
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 37vh;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    background-color: rgb(34, 34, 34);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: rgb(34, 34, 34);
  }
  form li + li {
    margin-top: 1em;
  }
  
  label {
    width: 100%;
    background-color: rgb(34, 34, 34);
  }
  
  input,
  textarea {
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    font: 1em sans-serif;
    width: 90%;
    height: 4vh;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  .form__input[type="date"]::-webkit-calendar-picker-indicator {
    color: aliceblue;
  }
  input:focus,
  textarea:focus {
    border-color: #000;
    background-color: rgb(34, 34, 34);
  }
  
  button {  
    color: rgb(0, 0, 0);
    margin: 1em;
    background-color: rgb(255, 215, 0);
    padding: 1vh;
    border-radius: 5px; 
    margin-left: 0%;
    width: 90%;
  }
  